.loader {
    animation: loader 200ms forwards linear 2800ms;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-background;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
        display: flex;
        font-size: 15vw;
        font-family: Shrikhand;
        &-1 {
            color: $color-primary;
            opacity: 0;
        }
        &-2 {
            color: $color-secondary;
            opacity: 0;
        }
        &-3 {
            color: $color-tertiary;
            opacity: 0;
        }
        &-4 {
            color: $color-secondary;
            opacity: 0;
            animation: exclamation 2000ms forwards 1000ms;
        }
    }
    &__bar {
        width: 80%;
        height: 5%;
        border: 5px solid $color-tertiary;
        animation: bar-move 1200ms 1800ms;
        overflow: hidden;
        @include flex-center;
        &--inner {
            width: 99.5%;
            height: 85%;
            background: $color-tertiary;
            animation: bar-appear 3000ms forwards
                cubic-bezier(0.89, 0.07, 0.27, 1.55);
        }
    }
}

//keyframes for the charging bar
@keyframes bar-move {
    25% {
        transform: translateX(5%);
    }
    50% {
        transform: translateX(0%);
    }
    75% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes bar-appear {
    from {
        transform: translateX(-101%);
    }
    to {
        transform: translateX(0);
    }
}

//keyframes for the text

@keyframes text-appear {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

@for $i from 1 to 4 {
    .loader__text-#{$i} {
        animation: text-appear
            1000ms
            forwards
            cubic-bezier(0.68, -0.55, 0.27, 1.46)
            ($i * 600ms);
    }
}

@keyframes exclamation {
    0% {
        opacity: 0.5;
        transform: scale(8) translateY(-1000px);
    }
    50% {
        opacity: 1;
        transform: scale(2);
    }
    75% {
        opacity: 0.8;
        transform: scale(4);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(-50px);
    }
}
@keyframes loader {
    100% {
        opacity: 0;
        display: none;
    }
}
