.section-restaurants {
    padding: 55px 20px 65px;
    background: $color-background;
    display: flex;
    flex-direction: column;
    gap: $default-gap;
    &__title {
        width: 100%;
        @include media(tablette) {
            text-align: center;
        }
    }
    @include media(tablette) {
        @include flex-big-screens(space-evenly, initial);
    }
}
