.tuto-container {
    display: flex;
    flex-direction: column;
    gap: $default-gap;
    padding: 50px 20px 70px 31px;
    &__title {
        width: 100%;
        margin-bottom: 10px;
        margin-left: -11px;
    }
    @include media(tablette) {
        @include flex-big-screens;
        text-align: center;
    }
    @include media(desktop) {
        justify-content: space-evenly;
    }
}
.tuto-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-background;
    height: 75px;
    width: 100%;
    border-radius: 20px;
    box-shadow: $shadow-default;
    position: relative;
    color: darken($color: $color-background, $amount: 50%);
    &.active,
    &:hover {
        background-color: lighten($color: $color-primary, $amount: 36%);
        color: $color-primary;
    }
    @include media(tablette) {
        width: 48%;
    }
    @include media(desktop) {
        width: 30%;
    }
    &__step {
        @include flex-center;
        position: absolute;
        left: -11px;
        background: $color-primary;
        border-radius: 100%;
        width: 22px;
        height: 22px;
        color: $color-font-btn;
        font-size: 0.8em;
    }
    &__icon {
        position: absolute;
        left: 30px;
        font-size: $btn-icon-size;
        color: inherit;
        &.active {
            color: $color-primary;
        }
    }
    &__text {
        padding-left: 75px;
        font-weight: 500;
        color: darken($color: $color-background, $amount: 70%);
    }
}
