@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: Roboto, sans-serif;
}

h1,
.title-menu,
.menu-title__title {
  font-family: Shrikhand, serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

li {
  list-style: none;
}

a,
img {
  text-decoration: none;
  display: block;
  color: inherit;
}

.title {
  font-size: 1.4em;
}

.page-container,
.footer-inner {
  max-width: 1400px;
  margin: auto;
}

header {
  text-align: center;
}

.heading-input {
  box-shadow: inset 0 3px 3px #c3c3c3;
  text-align: center;
  background-color: #e9e9e9;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.heading-input__input {
  margin-right: 20px;
}
.heading-input__icon {
  margin-right: 20px;
}

.nav {
  text-align: center;
  padding: 40px 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.nav__title {
  font-size: 1.4em;
  padding: 0 45px;
  line-height: 1.2em;
}
.nav__text {
  font-size: 1.1em;
  color: #909090;
}

.tuto-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 70px 31px;
}
.tuto-container__title {
  width: 100%;
  margin-bottom: 10px;
  margin-left: -11px;
}
@media screen and (min-width: 768px) {
  .tuto-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: none;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .tuto-container {
    justify-content: space-evenly;
  }
}

.tuto-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f6f6;
  height: 75px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 7px 7px #dddddd;
  position: relative;
  color: #777777;
}
.tuto-btn.active, .tuto-btn:hover {
  background-color: #f4eefc;
  color: #9356dc;
}
@media screen and (min-width: 768px) {
  .tuto-btn {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .tuto-btn {
    width: 30%;
  }
}
.tuto-btn__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -11px;
  background: #9356dc;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  color: #fff;
  font-size: 0.8em;
}
.tuto-btn__icon {
  position: absolute;
  left: 30px;
  font-size: 1.2em;
  color: inherit;
}
.tuto-btn__icon.active {
  color: #9356dc;
}
.tuto-btn__text {
  padding-left: 75px;
  font-weight: 500;
  color: #444444;
}

.section-restaurants {
  padding: 55px 20px 65px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-restaurants__title {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-restaurants__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .section-restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: none;
  }
}

.footer {
  color: #f6f6f6;
  background-color: #373737;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer-inner {
  padding: 20px 20px;
}
@media screen and (min-width: 768px) {
  .footer-inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    justify-content: flex-end;
  }
}

.logo {
  margin: 15px 0 5px 0;
  font-size: 1.8em;
  font-size: clamp(1.8em, 3vw + 1em, 4em);
}
.logo.footer-logo {
  font-size: 1.1em;
  font-size: clamp(1.1em, 1vw + 1em, 2em);
  margin: 5px 0 15px;
}

.btn {
  width: 220px;
  height: 50px;
  margin: 15px 0;
  background: linear-gradient(3deg, #9356dc 0%, #ff79da 100%);
  color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 7px 7px #dddddd;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 7px 10px #aaaaaa;
  transform: scale(1.02);
}

.card-restaurant {
  width: 100%;
  height: 250px;
  height: clamp(250px, 40vw, 400px);
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  transition: all 400ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .card-restaurant {
    width: 48%;
  }
}
.card-restaurant:hover {
  opacity: 1;
  box-shadow: 0 7px 10px #aaaaaa;
  transform: scale(1.02);
}
.card-restaurant__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card-restaurant__img {
  width: 100%;
  height: calc(100% - 75px);
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.insert-new {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  color: #2c9c81;
  width: 25%;
  min-width: 60px;
  height: 30px;
  font-weight: 600;
  font-size: 0.9em;
}
.insert-new span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.insert-new span:nth-child(1) {
  transform: rotate(0deg);
}
.insert-new span:nth-child(2) {
  transform: rotate(180deg);
}
.insert-new span:nth-child(3) {
  transform: rotate(90deg);
  width: 30px;
  right: 0;
}
.insert-new span:nth-child(4) {
  transform: rotate(270deg);
  width: 30px;
  left: 0;
}
.insert-new span::before {
  content: "   ";
  position: absolute;
  width: 100%;
  background: linear-gradient(45deg, #9356dc 0%, #ff79da 46%, #7dc9b7 92%);
  height: 2px;
  animation: moving-border 4s infinite linear;
}

.card-info {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  border-radius: 0 0 20px 20px;
  background-color: #fff;
  padding: 15px;
  line-height: 1.5em;
  box-shadow: 0 7px 7px #dddddd;
}
.card-info__text-container {
  flex-grow: 1;
  min-width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-info__title {
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-info__loc {
  color: #5d5d5d;
}
.card-info__loc--menu {
  font-size: 0.85em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-info__price {
  align-self: flex-end;
  font-weight: 600;
}
.card-info.card-info__menu {
  display: flex;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 0 10px #d0d0d0;
}

.footer-nav__item.utensils::before {
  content: "\f2e7";
  font-size: 0.8em;
  font-family: FontAwesome;
  margin-right: 12px;
}

.footer-nav__item.hands::before {
  content: "\f4c4";
  font-size: 0.6em;
  font-family: FontAwesome;
  margin-right: 10px;
}

.heading-logo__container {
  position: relative;
}

.index {
  position: absolute;
  left: 25px;
  top: 25%;
  font-size: 1.3em;
  font-size: clamp(1.3em, 1vw + 1em, 4em);
}

.menu-header {
  position: relative;
}

.top-image__img {
  width: 100%;
  min-height: 295px;
  height: 50vw;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 25px 20px 50px 20px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: none;
  }
}
@media screen and (min-width: 768px) {
  .menu .category {
    width: 47.5%;
  }
}
@media screen and (min-width: 1228px) {
  .menu .category {
    width: 31%;
  }
}
.menu-title__title {
  font-size: 1.75em;
  font-size: clamp(1.75em, 2vw + 1em, 2.5em);
}
.menu-title__container {
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 30px 20px 0px 20px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.category__title {
  color: #777777;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
}
.category__border {
  width: 50px;
  box-shadow: 2px -10px 0 2px #99e2d0;
}

.cta__btn {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .cta__btn {
    width: 100%;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.ann-1 {
  opacity: 0;
  animation: appearance 2s forwards 100ms;
}

.ann-2 {
  opacity: 0;
  animation: appearance 2s forwards 200ms;
}

.ann-3 {
  opacity: 0;
  animation: appearance 2s forwards 300ms;
}

.ann-4 {
  opacity: 0;
  animation: appearance 2s forwards 400ms;
}

.ann-5 {
  opacity: 0;
  animation: appearance 2s forwards 500ms;
}

.ann-6 {
  opacity: 0;
  animation: appearance 2s forwards 600ms;
}

.ann-7 {
  opacity: 0;
  animation: appearance 2s forwards 700ms;
}

.ann-8 {
  opacity: 0;
  animation: appearance 2s forwards 800ms;
}

.ann-9 {
  opacity: 0;
  animation: appearance 2s forwards 900ms;
}

.ann-10 {
  opacity: 0;
  animation: appearance 2s forwards 1000ms;
}

.ann-11 {
  opacity: 0;
  animation: appearance 2s forwards 1100ms;
}

.ann-12 {
  opacity: 0;
  animation: appearance 2s forwards 1200ms;
}

.ann-13 {
  opacity: 0;
  animation: appearance 2s forwards 1300ms;
}

.ann-14 {
  opacity: 0;
  animation: appearance 2s forwards 1400ms;
}

.ann-15 {
  opacity: 0;
  animation: appearance 2s forwards 1500ms;
}

.ann-16 {
  opacity: 0;
  animation: appearance 2s forwards 1600ms;
}

.card-info-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox {
  cursor: pointer;
  opacity: 0.01;
  z-index: 2;
  width: 30px;
  height: 30px;
}
.checkbox:checked ~ .checkbox__heart--checked {
  opacity: 1;
}
.checkbox:checked ~ .checkbox__heart--unchecked {
  opacity: 0.01;
}

.checkbox__heart {
  font-size: 1.5em;
  position: absolute;
  z-index: 1;
}
.checkbox__heart--checked {
  transition: all 1s ease-in-out;
  opacity: 0.01;
  background: linear-gradient(3deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.checkbox__heart--unchecked {
  transition: all 1s ease-in-out;
}

.box {
  width: 60px;
  height: 70px;
  margin-left: 15px;
  margin-right: -75px;
  margin-top: -15px;
  background: #99e2d0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 400ms ease-in-out;
}

.check-icon {
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 1.4em;
  color: #fff;
  transition: all 400ms ease-in-out;
  transform: translateX(75px) rotate(-360deg);
}

.checkbox__item {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}
.checkbox__item:checked ~ .box {
  margin-right: -15px;
}
.checkbox__item:checked ~ .check-icon {
  transform: translateX(0) rotate(0deg);
}

@keyframes moving-border {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
.loader {
  animation: loader 200ms forwards linear 2800ms;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader__text {
  display: flex;
  font-size: 15vw;
  font-family: Shrikhand;
}
.loader__text-1 {
  color: #9356dc;
  opacity: 0;
}
.loader__text-2 {
  color: #ff79da;
  opacity: 0;
}
.loader__text-3 {
  color: #99e2d0;
  opacity: 0;
}
.loader__text-4 {
  color: #ff79da;
  opacity: 0;
  animation: exclamation 2000ms forwards 1000ms;
}
.loader__bar {
  width: 80%;
  height: 5%;
  border: 5px solid #99e2d0;
  animation: bar-move 1200ms 1800ms;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loader__bar--inner {
  width: 99.5%;
  height: 85%;
  background: #99e2d0;
  animation: bar-appear 3000ms forwards cubic-bezier(0.89, 0.07, 0.27, 1.55);
}

@keyframes bar-move {
  25% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bar-appear {
  from {
    transform: translateX(-101%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes text-appear {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}
.loader__text-1 {
  animation: text-appear 1000ms forwards cubic-bezier(0.68, -0.55, 0.27, 1.46) 600ms;
}

.loader__text-2 {
  animation: text-appear 1000ms forwards cubic-bezier(0.68, -0.55, 0.27, 1.46) 1200ms;
}

.loader__text-3 {
  animation: text-appear 1000ms forwards cubic-bezier(0.68, -0.55, 0.27, 1.46) 1800ms;
}

@keyframes exclamation {
  0% {
    opacity: 0.5;
    transform: scale(8) translateY(-1000px);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  75% {
    opacity: 0.8;
    transform: scale(4);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(-50px);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
