//heading logo
.logo{
    margin: 15px 0 5px 0;
    font-size: 1.8em;
    &.footer-logo{
        font-size: 1.1em;
        margin: 5px 0 15px;
    }
}

// btn "explorez nos restaurants"
.btn{
    width:  220px;
    height: 50px;
    margin: 15px 0;
    background: $color-bg-btn;
    color:      $color-font-btn;
    border-radius: 25px;
    @include flex-center(row);
    box-shadow: $shadow-default;
}  

//restaurant cards
.card-restaurant{
    width:  100%;
    height: 250px;
    background-color: #fff;
    border-radius: $default-radius;
    position: relative;
    &__img{
        width:  100%;
        height: calc(100% - 75px);
        object-fit:      cover;
        object-position: center;
        border-top-left-radius:  $default-radius;
        border-top-right-radius: $default-radius;
    }
}
// encart "nouveau"
.insert-new{
    @include flex-center;
    position: absolute;
    right: 10px;
    top:   10px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 35%);
    width:  25%;
    min-width: 60px;
    height: 12%;
    font-weight: 600;
    font-size: 0.9em;
}
.card-info{
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    padding: 15px;
    line-height: 1.5em;
    box-shadow: $shadow-default;
    &__title{
        font-size: $title-card-font-size;
    }
    &__loc{
        color: darken($color: $color-background, $amount: 60%);
    }
}

//footer

.footer-nav__item.utensils::before {
    content: "\f2e7";
    font-size: 0.8em; 
    font-family: FontAwesome;
    margin-right: 12px;
  }
  .footer-nav__item.hands::before {
    content: "\f4c4";
    font-size: 0.6em; 
    font-family: FontAwesome;
    margin-right: 10px;
  }
