// btn "explorez nos restaurants"
.logo{
    margin: 15px 0 5px 0;
    font-size: 1.8em;
}

.btn{
    width:  220px;
    height: 50px;
    margin: 15px 0;
    background: $color-bg-btn;
    color:      $color-font-btn;
    border-radius: 25px;
    @include flex-center(row);
    box-shadow: $shadow-default;

}  