//heading logo
.logo {
    margin: 15px 0 5px 0;
    font-size: 1.8em;
    font-size: clamp(1.8em, 3vw + 1em, 4em);

    &.footer-logo {
        font-size: 1.1em;
        font-size: clamp(1.1em, 1vw + 1em, 2em);
        margin: 5px 0 15px;
    }
}

// btn "explorez nos restaurants"
.btn {
    width: 220px;
    height: 50px;
    margin: 15px 0;
    background: $color-bg-btn;
    color: $color-font-btn;
    border-radius: 25px;
    @include flex-center(row);
    @include shadow;
    @include transition(150ms);
    &:hover {
        @include hover-effect;
    }
}

//restaurant cards
.card-restaurant {
    width: 100%;
    height: 250px;
    height: clamp(250px, 40vw, 400px);
    background-color: #fff;
    border-radius: $default-radius;
    position: relative;
    @include transition;
    @include media(tablette) {
        width: 48%;
    }

    &:hover {
        @include hover-effect(1);
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &__img {
        width: 100%;
        height: calc(100% - 75px);
        @include objectfit;
        border-top-left-radius: $default-radius;
        border-top-right-radius: $default-radius;
    }
}
// encart "nouveau"
.insert-new {
    @include flex-center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 35%);
    width: 25%;
    min-width: 60px;
    height: 30px;
    font-weight: 600;
    font-size: 0.9em;
    span {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        &:nth-child(1) {
            transform: rotate(0deg);
        }
        &:nth-child(2) {
            transform: rotate(180deg);
        }
        &:nth-child(3) {
            transform: rotate(90deg);
            width: 30px;
            right: 0;
        }
        &:nth-child(4) {
            transform: rotate(270deg);
            width: 30px;
            left: 0;
        }
        &::before {
            content: "   ";
            position: absolute;
            width: 100%;
            background: linear-gradient(
                45deg,
                rgba(147, 86, 220, 1) 0%,
                rgba(255, 121, 218, 1) 46%,
                rgba(125, 201, 183, 1) 92%
            );
            height: 2px;
            animation: moving-border 4s infinite linear;
        }
    }
}

.card-info {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    position: relative;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    padding: 15px;
    line-height: 1.5em;
    box-shadow: $shadow-default;
    &__text-container {
        flex-grow: 1;
        min-width: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__title {
        font-size: $title-card-font-size;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__loc {
        color: darken($color: $color-background, $amount: 60%);
        &--menu {
            font-size: 0.85em;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__price {
        align-self: flex-end;
        font-weight: 600;
    }
    &.card-info__menu {
        display: flex;
        width: 100%;
        height: 70px;
        border-radius: 20px;
        box-shadow: $shadow-box-menu;
    }
}

//footer

.footer-nav__item.utensils::before {
    content: "\f2e7";
    font-size: 0.8em;
    font-family: FontAwesome;
    margin-right: 12px;
}
.footer-nav__item.hands::before {
    content: "\f4c4";
    font-size: 0.6em;
    font-family: FontAwesome;
    margin-right: 10px;
}
