//appear menu animation
@keyframes appearance {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@for $i from 1 to 17 {
    .ann-#{$i} {
        opacity: 0;
        animation: appearance 2s forwards $i * 100ms;
    }
}

// like animation, The clickable link takes the width and height
// of the card. With z-index the checkbox is placed in the
// foreground and hidden with opacity 0. 2 hearts are
// placed below the checkbox. depending on checked or not one of
// them becomes transparent
.card-info-icon {
    position: relative;
    display: flex;
    align-items: center;
}
.checkbox {
    cursor: pointer;
    opacity: 0.01;
    z-index: 2;
    width: 30px;
    height: 30px;
    &:checked ~ .checkbox__heart--checked {
        opacity: 1;
    }
    &:checked ~ .checkbox__heart--unchecked {
        opacity: 0.01;
    }
}
.checkbox__heart {
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    &--checked {
        @include transition(1s);
        opacity: 0.01;
        background: $color-bg-btn;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--unchecked {
        @include transition(1s);
    }
}

//item selection animation
.box {
    width: 60px;
    height: 70px;
    margin-left: 15px;
    margin-right: -75px;
    margin-top: -15px;
    background: $color-tertiary;
    @include flex-center;
    color: #fff;
    font-size: 1.4em;
    @include transition;
}
.checkbox__item {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    &:checked + .box {
        margin-right: -15px;
    }
}

// animation insert-new
@keyframes moving-border {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}
