//appear menu animation
@keyframes appearance {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@for $i from 1 to 17 {
    .ann-#{$i} {
        opacity: 0;
        animation: appearance 2s forwards $i * 100ms;
    }
}

// like animation
.card-info-icon {
    position: relative;
    display: flex;
    align-items: center;
}
.checkbox {
    opacity: 0.01;
    z-index: 2;
    width: 30px;
    height: 30px;
    &:checked ~ .checkbox__heart--checked {
        opacity: 1;
    }
    &:checked ~ .checkbox__heart--unchecked {
        opacity: 0.01;
    }
}
.checkbox__heart {
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    &--checked {
        @include transition(1s);
        opacity: 0.01;
        background: $color-bg-btn;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--unchecked {
        @include transition(1s);
    }
}
