// flex
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
@mixin objectfit {
    object-fit: cover;
    object-position: center;
}

@mixin transition($duration: 400ms) {
    transition: all $duration ease-in-out;
}

@mixin shadow($type: $shadow-default) {
    box-shadow: $type;
}

@mixin hover-effect($opacity: 0.8) {
    opacity: $opacity;
    @include shadow($shadow-hover);
    transform: scale(1.02);
}

@mixin flex-big-screens($justify: center, $text-align: initial) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: $justify;
    text-align: $text-align;
}
@mixin media($screen-type: 768px) {
    @media screen and (min-width: map-get($screen-sizes, $screen-type)) {
        @content;
    }
}
