$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: #f6f6f6;
$color-bg-btn: linear-gradient(3deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$color-font-btn: #fff;

$shadow-default: 0 7px 7px darken($color: $color-background, $amount: 10%);

$title-font-size: 1.4em;
$title-card-font-size : 1.2em;
$btn-icon-size: 1.2em;

$default-gap: 20px;

$default-radius: 20px;
